
/* Dark Mode Button */
body {
    height: 100%;
    width: 100%;
    background-color: #213555;
    color: ghostwhite;
    margin: 0;
    padding: 0;
}

head {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #00072d;
    color: white;
    z-index: 1000;
}

#header-left {
    flex: 1;
}

#header-right {
    display: flex;
    align-items: center;
}

/* Customize Dark Mode Theme */
.dark-mode .header {
    background-color: #4682A9;
}

.dark-mode {
    background-color: #F6F4EB;
    color: black;
}

.dark-mode .article {
    background-color: #F6F4EB;
    color: black;
}

.dark-mode .article a:hover {
    color: black;
}

.dark-mode #footer {
    background-color: #4682A9;
}

.dark-mode #login-bttn:hover,
.dark-mode #register-bttn:hover {
    background-color: #035073;
}

/* Reducing Motion */
.revealable {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.revealable.active {
    transform: translateY(0);
    opacity: 1;
}

/* Navigation Styling */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

#nav-name {
    color: white;
}

#header-right .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#header-right .nav-links li {
    margin-right: 20px;
}

#header-right .nav-links a {
    display: block;
    text-decoration: none;
    padding: 12px 12px;
    transition: background-color 0.3s;
    color: white;
}

#theme-button {
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#theme-button:hover, #reduce-motion-button:hover {
    background-color: #b6b7b8;
}

#reduce-motion-button {
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.link1:hover,
.link2:hover,
.link3:hover,
.link4:hover {
    background-color: #91C8E4;
}
/* Link styling end*/

/* Reset default styles for some elements */
main {
    padding: 20px;
}

.open-message {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Gallery Styling */
.gallery-container {
    position: relative;
    overflow: hidden;
    width: 65%;
    margin: 0 auto;
}

.gallery-articles {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    white-space: nowrap;
}

.article {
    flex: 0 0 auto;
    width: 65vw;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #213555;
    border: none;
    transition: transform 0.5s ease;
}

.article a {
    color: white;
}

.article a:hover {
    text-decoration: underline;
}

.article img {
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

/* Dots Container */
.dots-container {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    white-space: nowrap;
    gap: 30px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 5px;
    background-color: #6c8da3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.dot:hover {
    background-color: #4a6678;
    transform: scale(1.6);
}

/* Body Content Styling */
.header-content,
.aboutsec,
.petition,
.factsec {
    margin-bottom: 40px;
}

.open-message {
    text-align: center;
}

.aboutsec {
    background-color: #6096ba;
    height: 450px;
    display: flex;
    flex-direction: column;
}

#aboutpara {
    margin-top: 15px;
    align-items: center;
}

#donations {
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p,
button,
li {
    font-family: Arial, Helvetica, sans-serif;
}

.about-header {
    margin: 10px;
}

/* Donation Styling */
.donation-info {
    text-align: center;
}

.donation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donation-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.donation-option {
    padding: 10px 20px;
    margin: 5px;
    background-color: ghostwhite;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.donation-option:hover {
    background-color: #adb5bd;
}

.submit-donation {
    margin-top: 10px;
}

.submit-donation button {
    padding: 10px 20px;
    background-color: #4682A9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-donation button:hover {
    background-color: #225e85;
}

#donation-message {
    margin: 10px;
}

/* Petition Styling */
#sign-petition {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#petition {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#counter {
    padding: 20px;
}

.petition-heading {
    text-align: left;
    margin-bottom: 20px;
}

.petition-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding-bottom: 50px;
}

.petition-para {
    width: 55%;
    padding-right: 10px;
    margin-bottom: 20px;
}

.signatures {
    width: 45%;
    padding-right: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    display: inline-block;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    margin-bottom: 5.5px;
}

#sign-now-button {
    margin-top: 15px;
    margin-bottom:

 25px;
    padding: 10px 20px;
    background-color: #4682A9;
    color: white;
    border-radius: 10px;
}

#sign-now-button:hover {
    background-color: #035073;
}

.error {
    border-style: solid;
    border-width: 2px;
    border-color: red;
    background: pink;
}

/* Footer Decorating */
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00072d;
}

#footerlogo {
    float: left;
    border: none;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33%;
    max-width: 100%;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-right {
    display: flex;
    align-items: center;
}

/* Newsletter Styling */
.newsletter,
.footer-info {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    align-items: center;
}

.newsletter h4 {
    margin-bottom: 10px;
}

.newsletter p {
    margin-bottom: 20px;
}

.newsletter input[type="email"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.newsletter button {
    padding: 10px;
    background-color: #629ec4;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #377fad;
}

/* End of footer decoration */

/* Log In Page */
.login-container {
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    margin: 0 20px;
}

.login-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#login-bttn,
#register-bttn {
    padding: 10px 20px;
    background-color: #4682A9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: lightsteelblue;
  color: black;
  text-align: center;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thanks-modal-content {
  width: 20rem;
}

#modal-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
